.site-footer{
  max-width: $maxWidth;
  margin: 87px auto;
  padding: 0 20px;
  @extend %body;
  font-size: 10px;
  line-height: 18px;

  @include tablet {
    font-size: 18px;
  }

  @include desktop {
    margin: 0 auto;
    padding: 129.5px 20px 50px;
    font-size: 21px;
    line-height: 31.5px;
  }

  a{
    color: $primaryVariant1 !important;
  }

  &__logo{
    width: 132px;
    margin-bottom: 60px;

    @include desktop {
      width: 94.5px;
    }
  }

  // Titles(About Us, Design Assets, Development Assets)
  h3{
    @extend %buttons;
    color: $primary;

    @include desktop {
      margin-top: 0;
    }
  }

  ul{
    padding: 0;
  max-width: 45%;

    @include desktop {
      margin-top: 0;
    }
  }


  li{
    margin-bottom: 20px;

    @include desktop {
      margin-bottom: 26.25px;
    }
  }

  // Above the horizontal line
  &__upper{
    @include desktop {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .footer-content2{
      @include desktop {
        width: 420px;
      }

      h3{
        margin-bottom: 30px;
      }
    }

    // Design Assets & Development Assets
    .footer-content3{
      display: flex;
      justify-content: space-between;
      margin-top: 50px;

      @include tablet {
        justify-content: flex-start;
      }

      @include desktop {
        width: 525px;
        margin-top: 0;
      }

      h3{
        margin-bottom: 30px;
      }

      ul{

        @include tablet {
          margin-right: 150px;
        }

        @include desktop {
          margin-right: auto;
        }
      }
    }
  }


  // Below the horizontal line
  .footer-content5{
    text-align: center;
    padding-top: 30px;

    @include desktop {
      display: flex;
      justify-content: space-between;
    }

    .content5-text1{
      order: 1;
    }
  }
}