// Whole Screen Wrapper(Navigation and Content Area)
#restaurantApp_wrap{
  flex-direction: column;

  @include dashboardBp{
    flex-direction: row;
  }
}

  .navigation{
    width: 80px;
    margin: 0;
    padding: 0;

    @include navigationBp{
      padding: 20px 28px;
      width: 350px;
    }

    &__logo{
      width: 115px;
      margin: 50px 30px;

      @include navigationBp{
        margin: 50px;
      }
    }

    &-nav__button{
      width: 24px;
    }

    &__wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 200px !important;

      @include navigationBp{
        width: auto !important;
      }
    }

    &__menu{
      padding-top: 50px;
    }

    // Tabs
    .MuiTab-textColorInherit{
      opacity: 1 !important;
      color: $primaryVariant1;
    }

    .MuiTab-root{
      font-family: 'NexaRegular';
      font-size: 21px;
      text-transform: none;
      max-width: none;
      min-width: 0;
      padding: 0;
      height: 74.4px;
      border-radius: 16px;
      width: 72px;

      @include navigationBp{
        width: auto;
      }

      // Icon Size Adjustment
      .toolbar__icon-activeOrders{
        padding: 3px;
      }

      .toolbar__icon-account{
        padding: 3px;
      }

      .toolbar__icon-support{
        padding: 0;
        width: 40px !important;
      }

      .tabName{
        display: none;

        @include navigationBp{
          display: inline;
        }
      }
    }

    .MuiTab-textColorInherit.Mui-selected{
      background-color: $primary;
      color: white;

      span{
        padding-top: 6px;
      }

      // icons
      svg{
        width: 44px;
        margin: 0 auto;
        fill:none;
        stroke:white;
        stroke-linecap:round;
        stroke-linejoin:round;
        stroke-width:3px;

        @include navigationBp{
          margin: 0 49.6px 0 28px;
        }
      }
    }

    // Tabs Content
    .MuiTab-wrapper{
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: flex-start;
      line-height: 25.2px;

      // icons
      svg{
        width: 44px;
        margin: 0 auto;
        fill:none;
        stroke:#3e315a;
        stroke-linecap:round;
        stroke-linejoin:round;
        stroke-width:3px;

        @include navigationBp{
          margin: 0 49.6px 0 28px;
        }
      }

    }

    &__header{
      padding: 0;
    }

    &__menu{
      color: black !important;
    }
  }